.login_fields{
    -fx-background-color: transparent;
    -fx-border-color:  #2B3467;
    -fx-border-width: 0px 0px 1px 0px;
}

.login_button{
    -fx-background-color:  #2B3467;
    -fx-text-fill:  #FCFFE7;
    -fx-border-radius: 5px;
}

.login_close_button{
    -fx-background-color: transparent;
}